img {
    height: 400px;
}

/* #image_container {
    display: flex;
    position: relative;
    z-index: 1;
}

#download_button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
} */